**Import library**

In [93]:
import pandas as pd
import psycopg2

import os
from dotenv import load_dotenv
from pathlib import Path

import sys
sys.path.append(str(Path(os.getcwd()).parent / "service"))
from database import DatabaseService

**Locate env path**

In [94]:
script_dir = Path(os.getcwd()).parent
env_path = script_dir / '.env'
load_dotenv(env_path)

print(f'Script Path:\t{script_dir}\nenv Path:\t{env_path}\nLoad env:\t{load_dotenv(env_path)}')

Script Path:	c:\Users\Admins\Desktop\Tae\work\azure-sql-2025-tester
env Path:	c:\Users\Admins\Desktop\Tae\work\azure-sql-2025-tester\.env
Load env:	True

**Connection Database**

In [95]:
server = os.getenv('doi_server')
port = os.getenv('doi_port')
database = os.getenv('doi_database')
username = os.getenv('doi_username')
password = os.getenv('doi_password')

In [96]:
conn = psycopg2.connect(
    dbname=database,
    user=username,
    password=password,
    host=server,
    port=port
)
conn

In [97]:
cur = conn.cursor()
cur

In [98]:
ibs_intell_query = """
SELECT DISTINCT
	i.* 
FROM 
	ibs_intell i 
JOIN
	ibs_intell_vector iv ON i.intell_id = iv.intell_id AND iv.is_active = True
WHERE 
	(iv.model_embedding = 'wordvector_BAAI' OR iv.model_embedding = 'kornwtp/ConGen-model-XLMR')
	AND i.is_publish = TRUE
	AND i.is_active = TRUE
"""

In [99]:
ibs_intell_vector_query = """
SELECT 
	iv.* 
FROM 
	ibs_intell i 
JOIN
	ibs_intell_vector iv ON i.intell_id = iv.intell_id AND iv.is_active = True
WHERE 
	(iv.model_embedding = 'wordvector_BAAI' OR iv.model_embedding = 'kornwtp/ConGen-model-XLMR')
	AND i.is_publish = TRUE
	AND i.is_active = TRUE
"""

In [100]:
cur.execute(ibs_intell_query)

In [101]:
rows = cur.fetchall()
colnames = [desc[0] for desc in cur.description]
df = pd.DataFrame(rows, columns=colnames)
df

,intell_id,title,content,location,lat,lng,unit_id,author,news_no,intell_status_id,...,mooban_code,mooban_name,approved_at,comment,approved_by,is_in_neo4j,note,doc_id,weather_forecast_thailand_id,is_important
0,00018aea-59e6-42aa-b78b-d96f52020ace,กัมพูชาและไทยเปิดตัวระบบชำระเงินด้วย QR code,เมื่อ ๖ มิ.ย. ๖๖ กัมพูชาและไทยเปิดตัวระบบชำระเ...,None,13.3886831818577,99.49462890625159,db80e310-9d67-40f6-919f-30c945865139,Sireetron Lert,None,3.0,...,None,None,NaT,None,None,False,None,None,None,None
1,00035098-1a1c-49b8-8cdd-bbc312240316,สภาพ ลมฟ้าอากาศ ใน 23 25 มี.ค. 67 ความ กด อากา...,สภาพลมฟ้าอากาศ : ใน 23 - 25 มี.ค. 67 ความกดอาก...,None,None,None,cf0204f9-3f03-48b5-adc9-b3149b9b040e,None,None,4.0,...,None,None,NaT,None,None,True,None,None,None,None
2,00039904-1e50-438e-9588-3ff0f64493fc,เมื่อ ๒๗ พ.ย. ๖๔ นาย Khairy Jamaluddin รมว.กระ...,เมื่อ ๒๗ พ.ย. ๖๔ นาย Khairy Jamaluddin รมว.กระ...,None,None,None,db80e310-9d67-40f6-919f-30c945865139,Sireetron Lert,None,3.0,...,None,None,NaT,None,None,False,None,None,None,None
3,0004cbf3-819e-484c-9bfc-0c811f57b6ce,None,3.ประเด็นการหนีภาษี : เป็นสิ่งที่เกิดขึ้นมานาน...,None,None,None,db80e310-9d67-40f6-919f-30c945865139,None,None,NaN,...,None,None,NaT,None,None,False,None,None,None,None
4,000547de-e253-4c70-8948-4e5bd768e369,ตำรวจเมืองเกรทเตอร์ นอยดา รัฐอุตตระประเทศ อินเ...,เมื่อ ๒๙ มี.ค. ๖๐ สนข.ไทย รายงานว่า ตำรวจเมือง...,None,19.581562369915318,102.23237734515754,db80e310-9d67-40f6-919f-30c945865139,Sireetron Lert,None,2.0,...,None,None,NaT,None,None,False,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42077,fff7f192-a63e-4dd5-95b0-21f8d762664a,ฝรั่งเศสและสหประชาชาติกล่าวว่ามาตรการคว่ำบาตรใ...,๒) นายฟรังซัวส์ เดอลาทร์ ออท.ฝรั่งเศส/สหประชาช...,None,None,None,db80e310-9d67-40f6-919f-30c945865139,None,None,NaN,...,None,None,NaT,None,None,False,None,None,None,None
42078,fffcc943-29e6-44c5-890a-aff28abfabfe,กองทัพจีน รายงาน อ้างแถลงการณ์ของกองบัญชาการทา...,กองทัพจีนจะลาดตระเวนทางเรือและอากาศในทะเลจีนใต...,None,None,None,cf0204f9-3f03-48b5-adc9-b3149b9b040e,None,None,4.0,...,None,None,NaT,None,None,True,None,None,None,None
42079,fffd88b5-0783-4d02-9353-d77b504c6698,"สิงคโปร์พร้อมบริจาค 60,000 ดอลลาร์สหรัฐ เพื่อช...",เมื่อ ๒๒ ธ.ค. ๖๔ กต.สิงคโปร์ แถลงว่า รัฐบาลสิง...,None,None,None,db80e310-9d67-40f6-919f-30c945865139,None,None,NaN,...,None,None,NaT,None,None,False,None,None,None,None
42080,fffdd297-8abb-4c01-8a64-c876f41f2d03,None,เมื่อ ๒๓ พ.ย. ๖๔ สนข.Reuters ของสหราชอาณาจักร ...,None,None,None,db80e310-9d67-40f6-919f-30c945865139,None,None,NaN,...,None,None,NaT,None,None,False,None,None,None,None
42081,fffec30f-581d-4065-bcf1-cff11a1fe25d,None,เมื่อ 25 ม.ค. 66 หัวหน้าตำรวจของ จ.บาตาอัน ทาง...,None,None,None,db80e310-9d67-40f6-919f-30c945865139,None,None,NaN,...,None,None,NaT,None,None,False,None,None,None,None

In [102]:
import pymssql
from sqlalchemy import create_engine, text

In [ ]:
mssql_database = "Vector"

In [103]:
conn_str = f"mssql+pymssql://{os.getenv('azure_username')}:{os.getenv('azure_password')}@{os.getenv('azure_server')}:{os.getenv('azure_port')}/{mssql_database}"
conn_str

'mssql+pymssql://azure:BZMIwczXt%5J@azure-tester.database.windows.net:1433/Vector'

In [104]:
table_name = "ibs_intell"

In [105]:
try:
    # Create the SQLAlchemy engine
    engine = create_engine(conn_str)

    # Establish a connection explicitly using engine.connect()
    with engine.connect() as conn:
        # Start a transaction using conn.begin()
        with conn.begin():

            # Insert the DataFrame into the SQL Server table
            df.to_sql(table_name, conn, schema='dbo', if_exists='append', index=False)

    print("Data inserted successfully into the SQL Server table.")
    # conn = conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

Data inserted successfully into the SQL Server table.